<div class="main-container">
	<div class="cs-container">
		<div class="right-data left-right-space">
			<div class="contst">
				<div class="cs-heading">
					<h2>Lodge Complaint : Select Type</h2>
					<p>Indicates required fields ( <span>*</span> ) </p>
				</div>
				
				<div class="cs-divider pt10">
					<mat-divider class="mat-divider mat-divider-horizontal" role="separator" aria-orientation="horizontal"></mat-divider>
				</div>
				
				<mat-radio-group class="selecter">
					<mat-radio-button class="radio-Option" value="1">Logistic</mat-radio-button>
					<mat-radio-button class="radio-Option" value="1">Product</mat-radio-button>
					<mat-radio-button class="radio-Option" value="1">Legal & Finance</mat-radio-button>
					<mat-radio-button class="radio-Option" value="1">General Service</mat-radio-button>
					<mat-radio-button class="radio-Option" value="1">Billing</mat-radio-button>
					<mat-radio-button class="radio-Option" value="1">Other</mat-radio-button>
				</mat-radio-group>
			</div>
			<div class="cs-btn fixedd mt32 text-right">
				<div class="in-btn">
					<button mat-raised-button color="warn">NEXT</button>
				</div>
			</div>
		</div>
		
		<div class="complaints">
			<div class="cs-row">
				<h1 class="simple-heding mt35">LOGISTIC</h1>
				
				<div class="tabs">
					<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
						<mat-button-toggle value="bold">Pre Sale</mat-button-toggle>
						<mat-button-toggle value="italic">Pose Sale</mat-button-toggle>
					</mat-button-toggle-group>
				</div>
				
				<div class="form-field">
					<div class="row">
						<div class="col-8">
							<div class="control-field col-12 edit-input">
								<mat-form-field class="example-full-width cs-input">
									<input matInput placeholder="Invoice No." readonly="" value="#INV00475">
									
									<div class="edit-icon">
										<button mat-button class="save"><i class="material-icons green-text" title="EDIT">save</i></button>
										<button mat-button class="edit"><i class="material-icons blue-text" title="EDIT">create</i></button>
									</div>
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row m20">
				<div class="col-4">
					<div class="information-box">
						<div class="information-head">
							<h1>Invoice Information</h1>
						</div>
						<div class="information-body">
							<table>
								<tr>
									<td class="w150">Invoice Number</td>
									<td class="w50">:</td>
									<td>INV047152</td>
								</tr>
								<tr>
									<td class="w150">Batch Code</td>
									<td class="w50">:</td>
									<td>47152862</td>
								</tr>
								<tr>
									<td class="w150">Invoice Date</td>
									<td class="w50">:</td>
									<td>12 Sep 2018</td>
								</tr>
								<tr>
									<td class="w150">Transporter Name</td>
									<td class="w50">:</td>
									<td>Ram Singh</td>
								</tr>
								<tr>
									<td class="w150">LR Number</td>
									<td class="w50">:</td>
									<td>LR251236241236</td>
								</tr>
								<tr>
									<td class="w150">Total Item</td>
									<td class="w50">:</td>
									<td>243</td>
								</tr>
								<tr>
									<td class="w150">Invoice Value</td>
									<td class="w50">:</td>
									<td>RS. 2,25,000.00/-</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="information-box">
						<div class="information-head">
							<h1>Dealer Information</h1>
						</div>
						<div class="information-body">
							<table>
								<tr>
									<td class="w150">company Name</td>
									<td class="w50">:</td>
									<td>XYZ PVT. LTD.</td>
								</tr>
								<tr>
									<td class="w150">Contact Person</td>
									<td class="w50">:</td>
									<td>Vijay Malya</td>
								</tr>
								<tr>
									<td class="w150">Mobile Number</td>
									<td class="w50">:</td>
									<td>+91 3521485412</td>
								</tr>
								<tr>
									<td class="w150">Email ID</td>
									<td class="w50">:</td>
									<td><a class="a">vijayml@gmail.com</a></td>
								</tr>
								<tr>
									<td class="w150">Address</td>
									<td class="w50">:</td>
									<td>5E/7 , B.P., Railway Road, Near Neelam Chowk, NIT Faridabad, Haryana 121001</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="information-box mr0">
						<div class="information-head">
							<h1>Customer Information</h1>
						</div>
						<div class="information-body">
							<table>
								<tr>
									<td class="w150">Name</td>
									<td class="w50">:</td>
									<td>Hari Malhotra</td>
								</tr>
								<tr>
									<td class="w150">Mobile Number</td>
									<td class="w50">:</td>
									<td>+91 8860445784</td>
								</tr>
								<tr>
									<td class="w150">Email ID</td>
									<td class="w50">:</td>
									<td class="a"><a>vijayml@gmail.com</a></td>
								</tr>
								<tr>
									<td class="w150">Installation Location</td>
									<td class="w50">:</td>
									<td>5E/7 , B.P., Railway Road, Near Neelam Chowk, NIT Faridabad, Haryana 121001</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			
			<div class="contst">
				<div class="cs-heading  mt15">
					<h2 class="underline">VEHICLE INFO</h2>
				</div>
				
				<div class="cs-table left-right-15">
					<div class="header">
						<table>
							<tr>
								<th class="w200">Cat Code</th>
								<th class="w400">Product</th>
								<th class="w80 text-center">Rate</th>
								<th class="w80 text-center">Lot Size</th>
								<th class="w100 text-center">Order QTY</th>
								<th class="w100 text-center">Fault QTY</th>
								<th>Remark</th>
							</tr>
						</table>
					</div>
					<div class="table-container info-table">
						<div class="table-body">
							<table>
								<tr>
									<td class="w200"><mat-checkbox class="input-check"></mat-checkbox><a class="link">652321</a></td>
									<td class="w400">Up legened plate for otpb otil & ipb</td>
									<td class="w80 text-center">88</td>
									<td class="w80 text-center">321</td>
									<td class="w100 text-center">22</td>
									<td class="w100 text-center"></td>
									<td></td>
								</tr>
								<tr>
									<td><mat-checkbox class="input-check"></mat-checkbox><a class="link">6523241</a></td>
									<td>Up legened plate for otpb otil & ipb</td>
									<td class="text-center">22</td>
									<td class="text-center">123</td>
									<td class="text-center">52</td>
									<td class="text-center">
										05
										<!-- <span class="edit-icon">
											<i class="material-icons">edit</i>
										</span>
										<div class="form-field td-input">
											<div class="row">
												<div class="control-field" style="padding-top: 15px !important;">
													<mat-form-field class="cs-input">
														<input matInput>
													</mat-form-field>
												</div>
											</div>
										</div> -->
									</td>
									<td></td>
								</tr>
								<tr>
									<td><mat-checkbox class="input-check"></mat-checkbox><a class="link">6523241</a></td>
									<td>Up legened plate for otpb otil & ipb</td>
									<td class="text-center">22</td>
									<td class="text-center">123</td>
									<td class="text-center">52</td>
									<td class="text-center">01</td>
									<td></td>
								</tr>
								<tr>
									<td><mat-checkbox class="input-check"></mat-checkbox><a class="link">6523241</a></td>
									<td>Up legened plate for otpb otil & ipb</td>
									<td class="text-center">22</td>
									<td class="text-center">123</td>
									<td class="text-center">52</td>
									<td class="text-center"></td>
									<td></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-4">
					<div class="information-box">
						<div class="information-head">
							<h1>Dealer Information</h1>
						</div>
						<div class="information-body">
							<table>
								<tr>
									<td class="w150">Branch Name</td>
									<td class="w50">:</td>
									<td>XYZ PVT. LTD.</td>
								</tr>
								<tr>
									<td class="w150">Contact Number</td>
									<td class="w50">:</td>
									<td>Vijay Malya</td>
								</tr>
								<tr>
									<td class="w150">Address</td>
									<td class="w50">:</td>
									<td>5E/7 , B.P., Railway Road, Near Neelam Chowk, NIT Faridabad, Haryana 121001</td>
								</tr>
								<tr>
									<td class="w150">Service Engineer</td>
									<td class="w50">:</td>
									<td>Pawan Chandila , +91 9012547856</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="col-8">
					<div class="contst">
						<div class="cs-heading">
							<h2 class="br-upcase-text">BRANCH INFORMATION</h2>
						</div>
						
						<div class="form-field">
							<div class="row">
								<div class="control-field col-4">
									<mat-form-field class="example-full-width cs-input select-input">
										<input matInput placeholder="BRANCH NAME * " [matAutocomplete]="branchname">
										<mat-autocomplete #brand="matAutocomplete">
											<mat-option>
												<small>xxv</small>
											</mat-option>
										</mat-autocomplete>
									</mat-form-field>
								</div>
								<div class="control-field col-4">
									<mat-form-field class="example-full-width cs-input">
										<input matInput placeholder="LANDLINE NUMBER">
									</mat-form-field>
								</div>
								<div class="control-field col-4">
									<mat-form-field class="example-full-width cs-input">
										<input matInput placeholder="MOBILE NUMBER">
									</mat-form-field>
								</div>
							</div>
						</div>
						
						<div class="cs-heading mt20">
							<h2 class="br-upcase-text">SERVICE ENGINEER INFORMATION</h2>
						</div>
						
						<div class="form-field">
							<div class="row">
								<div class="control-field col-4">
									<mat-form-field class="example-full-width cs-input select-input">
										<input matInput placeholder="NAME" [matAutocomplete]="name">
										<mat-autocomplete #brand="matAutocomplete">
											<mat-option>
												<small>veer</small>
											</mat-option>
										</mat-autocomplete>
									</mat-form-field>
								</div>
								<div class="control-field col-4">
									<mat-form-field class="example-full-width cs-input">
										<input matInput placeholder="MOBILE NUMBER">
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="cs-btn mt32 text-right">
				<div class="in-btn">
					<button mat-raised-button color="warn">LODGE COMPLAINT</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="h100"></div>